@media (max-width: 1300px) {
  main {
    flex-direction: column;
  }
  aside .videos-suggestions__items {
    padding-right: 0;
    width: 100%;
  }
  aside.videos-suggestions {
    width: 100%;
  }
}

@media (max-width: 800px) {
  main {
    padding: 2rem 2rem;
  }
  .iframe-video-data__actions {
    flex-wrap: wrap;
    margin-top: 1rem;
  }
}
