.actions__like,
.actions__dislike,
.actions__share,
.actions__subscribe {
  background-color: var(--color-style-gray);
  color: white;
  border-radius: 2rem;
  border: none;
  padding: 0.5rem;
  font-weight: 600;
}

.actions__like:hover,
.actions__dislike:hover,
.actions__share:hover,
.actions__subscribe:hover {
  background-color: var(--color-style-dark-gray);
}

.actions__like {
  border-radius: 2rem 0 0 2rem;
  border-right: 1px solid var(--color-style-of-white);
  min-width: 5rem;
}
.actions__dislike {
  border-radius: 0 2rem 2rem 0;
}
.actions__share {
  min-width: 5rem;
  margin-left: 0.5rem;
}
